<div class="row">
    <div class="col-md-2"></div>            
    <div id="content" class="col-sm-12 col-md-8">
<div class="row">
    <div class="col-md-2"></div>            
    <div class="col-sm-12 col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading"><h2 id="title" class="text-center">LAS BUENAS NOTICIAS</h2></div>
            <div class="panel-body">
                <img id="image" src="/images/goodnews.png" alt="title" class="img-thumbnail center-block hidden">
                <p id="summary">lO SENTIMOS, NO HEMOS PODIDO LOCALIZAR LA PAGINA QUE ESTAS BUSCANDO.</p>
                <p><button id="getArticles" class="btn btn-primary">lEER LOS ARTICULOS</button></p>
            </div>
            <div class="panel-footer">
            	<div id="navigation">
                </div>        
            </div>
        </div>
    </div>            
    <div class="col-md-2"></div>
</div>