<!DOCTYPE html>
<html>

<head>
    <title>TODAS LAS BUENAS NOTICIAS PARA ESTAR ENTERADO
    </title>
    <!-- BOOTSTRAP - Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
    <!-- BOOTSTRAP - Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>

<body>
    <div class="container">
        <div class="page-header">
            <img src = "../public/images/goodnews.png" alt="Good News, Inspiring, Positive Stories" class="center-block">
            <h1 class="text-center text-primary">"TODAS LAS BUENAS NOTICIAS PARA ESTAR ENTERADO"</h1>
        </div>
        <div class="row">
            <div class="col-md-2"></div>            
            <div class="col-sm-12 col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h2 class="text-center">TITULO DE LA HISTORIA</h2></div>
                    <div class="panel-body">
                        <img src="imglink" alt="title" class="img-thumbnail center-block">
                        <p>SUMARIO DE LA HISTORIA</p>
                        <p><a href="storylink" target="_blank"><button class="btn btn-primary">LEER LA HISTORIA</button></a>
                        <h3 class="text-center text-primary">COMENTARIOS</h3>
                        <p>COMENTAR</br>
                        NOMBRE</p>
                        <button id="deleteComment" class="btn btn-primary btn-xs">ELIMINAR COMENTARIO</button>
                        <h3 class="text-center text-primary">AGREGAR COMENTARIO</h3>
                        <p><input type="text" placeholder=" TU NOMBRE"></p>
                        <p><textarea rows="5" placeholder=" Tu comentario"></textarea></p>
                        <button id="deleteComment" class="btn btn-primary btn-xs">AGREGA COMENTARIO</button>
                    </div>
                    <div class="panel-footer">
                        <button id="previous" class="btn btn-primary">HISTORIA PREVIA</button>
                        <button id="next" class="btn btn-primary pull-right">HISTORIA SIGUIENTE</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <footer>
      </footer>
    </div>
</body>

</html>